<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/fav/favicon-16x16.png">
    <link rel="manifest" href="/static/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/static/main.css"/>
    {% if adult == 1 -%}<script type="application/javascript" src="/static/script.js"></script>{% endif -%}
</head>
<body {% if adult == 1 -%}onload="initFunc()"{% endif -%}>
<header><div class="logo"><a href="https://wratixor.ru"><img src="/static/wratixor-logo.png"/></a></div></header>
<div class="main">
    <nav>
        <h2 class="hpad">Разделы:</h2>
        <div class="menu"><a href="/sec1" class="amenu">Lorem</a></div>
        <div class="menu"><a href="/sec2" class="amenu">Lorem</a></div>
        <div class="menu"><a href="/sec3" class="amenu">Lorem ipsum</a></div>
        <div class="menu"><a href="/sec4" class="amenu">Lorem ipsum</a></div>
        <div class="menu"><a href="/sec5" class="amenu">Lorem ipsum dolor</a></div>
        <div class="menu"><a href="/sec6" class="amenu">Lorem ipsum dolor</a></div>
        <div class="menu"><a href="/sec7" class="amenu">Lorem ipsum dolor sit amet</a></div>
        <div class="menu"><a href="/sec8" class="amenu">Lorem ipsum dolor sit amet</a></div>
        <div class="menu"><a href="/sec9" class="amenu">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</a></div>
    </nav>
    <div class="left">
        <h2 class="cpad">{{title}}</h2>
        {% if adult == 1 -%}
        <div class="lpad" id="alarm">
            <div class="center">
                <h1>Контент 18+</h1>
                <h3>Содержимое данной страницы может содержать материалы не рекомендованные к просмотру лицам моложе восемнадцати лет.</h3>
                <h4>Контент размещён исключительно в целях развлекательного характера.
                    Администрация сайта не несёт ответственности за причинённые содержимым
                    моральные неудобства, психические увечья и душевные травмы.</h4>
                <h4>TO ITS CONTENT IT SHOULD NOT BE VIEWED BY ANYONE</h4>
                <h5>Пожалуйста, подтвердите свой возраст:</h5>
                <div class="amenu" onclick="clickYes()"><h3>Ок, Мне есть 18, показывайте!</h3></div>
                <div class="amenu" onclick="clickNo()"><h3>Спасибо, не надо...</h3></div>
                <h6>Для сохранения ответа будут использованы файлы куки (cookie)</h6>
            </div>
        </div>
        {% endif -%}
        <div class="lpad" id="main">
            {% block content %}
            <div class="item">
                <img class="thumb" src="/static/avatar_bot_thumb.png"/>
                <a href="/sec1/chap1" class="aitem">
                    <b>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</b><br/>
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                </a>
            </div>
            <div class="item">
                <img class="thumb" src="/static/avatar_bot_thumb.png"/>
                <a href="/sec2/chap2" class="aitem">
                    <b>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</b><br/>
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                </a>
            </div>
            <div class="item">
                <img class="thumb" src="/static/avatar_bot_thumb.png"/>
                <a href="/sec3/chap3" class="aitem">
                    <b>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</b><br/>
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                </a>
            </div>
            <div class="item">
                <img class="thumb" src="/static/avatar_bot_thumb.png"/>
                <a href="/sec4/chap4" class="aitem">
                    <b>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</b><br/>
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                    Lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                </a>
            </div>
            {% endblock content %}
        </div>
    </div>
</div>
<div class="main">
    <footer>
        <div class="fo">
            <a href="https://wratixor.ru" class="afo">&copy; 2024-{{year}}, Wratixor &#129333;</a>
        </div>
        <a href="/admin">|</a>
        <div class="fo">
            <a href="https://yoomoney.ru/to/4100118849397169" class="afo">&#128179; Поддержать проект &#8381;</a>
        </div>
    </footer>
</div>
</body>
</html>