<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="application/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div>
            <h1>{{title}}</h1>
            <div id="root">
                <div class="form">
                    <input id="message_text" class="form__input" type="text"
                           placeholder="Введите свой отзыв..."/>
                    <div class="form__button" onclick="sendMessage()">Отправить</div>
                </div>
                <div id="messages">

                </div>
            </div>
        </div>
    </body>
</html>