{% extends 'index.html' %}
{% block content %}
<div class="item">
    <div class="center">
        <h3>Войти:</h3>
        <form action="/user/login" method="POST" enctype="multipart/form-data">
            <div class="padding"><div class="fol"><label for="login">Логин: </label></div>
            <div class="foi"><input class="half" type="text" id="login" name="login"></div></div>
            <div class="padding"><div class="fol"><label for="password">Пароль: </label></div>
            <div class="foi"><input class="half" type="password" id="password" name="password"></div></div>
            <div class="padding"><div class="fol"><input class="qwart" type="submit" value="Вход"></div>
            <div class="foi"><input class="qwart" type="reset" value="Сброс"></div></div>
        </form>
    </div>
</div>
<div class="item">
    <div class="center">
        <h3>Регистрация и смена пароля:</h3>
        <form action="/user/save" method="POST" enctype="multipart/form-data">
            <div class="padding"><div class="fol"><label for="new_login">Логин: </label></div>
            <div class="foi"><input class="half" type="text" id="new_login" name="login"></div></div>
            <div class="padding"><div class="fol"><label for="first_password">Пароль: </label></div>
            <div class="foi"><input class="half" type="password" id="first_password" name="password"></div></div>
            <div class="padding"><div class="fol"><label for="second_password">Новый пароль: </label></div>
            <div class="foi"><input class="half" type="password" id="second_password" name="new_password"></div></div>
            <div class="padding"><div class="fol">(повторите пароль</div>
            <div class="foi">для регистрации)</div></div>
            <div class="padding"><div class="fol"><input class="qwart" type="submit" value="Принять"></div>
            <div class="foi"><input class="qwart" type="reset" value="Отмена"></div></div>
        </form>
    </div>
</div>
{% endblock content %}