[Unit]
Description=my_simple_site
After=network.target postgresql.service

[Service]
User=www-data
Group=www-data
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/www/wratixor.ru/my_simple_site
ExecStart=/var/www/wratixor.ru/my_simple_site/.venv/bin/python3 /var/www/wratixor.ru/my_simple_site/aiohttp_run.py

Nice=10
CPUQuota=15%
MemoryMax=150M
MemoryHigh=120M

[Install]
WantedBy=multi-user.target
