body {
  background-color: #202020;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, sans-serif;
}

header {
  display: block;
  height: 60px;
  background-color: #ffc231;
  align-content: center;
}

.logo {
  display: block;
  height: 60px;
  background-color: #fdb200;
  margin: auto;
}

nav {
  background-color: #644600;
}

footer {
  display: block;
  background-color: #644600;
  color: #ffe097;
  text-align: center;
  align-content: center;
  padding: 0.2em;
}

.fo {
  display: inline-block;
  width: 40%;
  padding: 0.2em;
  text-align: center;
  align-content: center;
}

.afo {
  display: block;
  height: 1.5em;
  text-align: center;
  align-content: center;
}

@media (max-width: 999px) {
  nav {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .menu {
    width: 10em;
    display: inline-block;
    padding: 0.2em 0.2em 0.2em 0em;
  }
  .hpad {
    display: none;
  }
}

@media (min-width: 1000px) {
  .main {
    max-width: 80%;
  }
  .logo {
    max-width: 80%;
  }
  .menu {
    padding: 0em 0.2em 0.4em 0.2em;
  }
  nav {
    max-width: 30%;
    float: left;
    height: 100%;
  }
  .left {
    float: left;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .main {
    max-width: 70%;
  }
  .logo {
    max-width: 70%;
  }
}

.main {
  text-align: left;
  margin: auto;
  align-content: start;
  background: #fdb20040;
}


a {
  color: #ffffff;
  text-decoration: none;
}

.amenu {
  display: block;
  background-color: #7f7f7f;
  border: solid 1px #ca8e00;
  text-align: left;
  align-content: center;
  padding: 0.5em;
  overflow: hidden;
}

.menu {
  margin: 0px;
  overflow: hidden;
  font-size: 1.17em;
  white-space: nowrap;
}

.lpad {
  margin: 0px;
  padding: 0em 1em 0em 1em;
}

.hpad {
  margin: 0px;
  padding: 1em;
}

.thumb {
  width: 10em;
  height: 10em;
  float: left;
  text-align: center;
  align-content: center;

}

.item {
  margin: 0em 0.2em 0.4em 0.2em;
  padding: 0px;
  border: solid 1px #ca8e00;
}

.aitem {
  display: block;
  height: 10em;
  background-color: #644600;
  margin: 0px;
  padding: 0em 1em 0em 1em;
  text-align: left;
  align-content: center;
  overflow: hidden;
}