body {
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, sans-serif;
  overflow-y: scroll;
  background: content-box radial-gradient(#000000, #200020);
}

code {
  font-family: 'Lucida Console', Monaco, monospace;
}

header {
  display: block;
  height: 60px;
  background-color: #fdb20040;
  align-content: center;
}

.logo {
  display: flex;
  height: 60px;
  background-color: #fdb200;
  margin: auto;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
}
.pad {
  height: 60px;
  margin: 0px;
  align-content: center;
  min-width: 10em;
  background-color: #fdb200;
}

.admin {
  display: flex;
  margin: 0em 0.2em 0.4em 0.2em;
  padding: 0px;
  border: solid 1px #fdb200;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fdb20040;
}

.auth {
  display: inline-flex;
  height: 60px;
  width: 25%;
  min-width: 10em;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #fdb20040;
}

input, textarea, select {
  width: 100%;
}

.qwart {
  width: 23%;
}

.half {
  width: 48%;
}

footer {
  display: block;
  background-color: #fdb20040;
  text-align: center;
  align-content: center;
  padding: 0.2em;
}
.padding {
  display: flex;
  margin: 0.2em;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.fo {
  display: inline-block;
  width: 45%;
  text-align: center;
  align-content: center;
}
 .fol, .fold, .foi, .foic {
  display: inline-flex;
  width: 50%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
#p_article {
  text-align: left;
}
.fol {
  text-align: right;
  justify-content: flex-end;
}
.fold {
  text-align: center;
  justify-content: space-between;
}
.foi {
  text-align: left;
  justify-content: start;
}
.foic {
  text-align: center;
  justify-content: center;
}
label {
  margin-right: 0.3em;
}
.afo {
  display: block;
  height: 1.5em;
  text-align: center;
  align-content: center;
}

@media (max-width: 949px) {
  .main, .logo  {
    width: 100%;
  }
  nav {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .menu {
    width: 10em;
    display: inline-block;
    padding: 0.2em 0.2em 0.2em 0em;
  }
  .hpad {
    display: none;
  }
}

@media (min-width: 950px) {
  .main, .logo  {
    width: 85%;
  }
  nav {
    width: 30%;
    float: left;
    height: 100%;
  }
  .menu {
    padding: 0em 0.2em 0.4em 0.2em;
  }
  .left {
    float: left;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .main, .logo {
    width: 70%;
  }
}

.main {
  text-align: left;
  margin: auto;
  align-content: start;
  background: #fdb20040;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover, .alarmbutton:hover {
  color: #000000;
  background-color: #ffffff40;
}

a:focus, .alarmbutton:focus {
  color: #000000;
  background-color: #ffffffd0;
}

a:active, .alarmbutton:active {
  color: #000000;
  background-color: #ffffff90;
}

.alarmbutton {
  background-color: #fdb20040;
  border: outset 2px #fdb200;
  text-align: center;
  align-content: center;
  padding: 0.5em;
  margin: 0.5em;
}

.amenu {
  display: block;
  background-color: #fdb20040;
  border: solid 1px #fdb200;
  text-align: inherit;
  align-content: center;
  padding: 0.5em;
  overflow: hidden;
}

.menu {
  margin: 0px;
  overflow: hidden;
  font-size: 1.17em;
  white-space: nowrap;
}

.lpad {
  margin: 0px;
  padding: 0em 1em 0em 1em;
}

.hpad, .cpad {
  margin: 0px;
  padding: 1em;
}

.thumb {
  height: 8em;
  max-width: 100%;
  float: left;
  text-align: center;
  align-content: center;
}

.mthumb {
  height: 4em;
  max-width: 100%;
  float: left;
  text-align: center;
  align-content: center;
}

.desc {
  height: 18em;
  max-width: 100%;
  text-align: center;
  align-content: center;
}

.middle {
  width: 32em;
  max-width: 100%;
  margin: auto;
  text-align: left;
  align-content: center;
}

.center {
  padding: 1em;
  text-align: center;
  align-content: center;
}

.item {
  margin: 0em 0.2em 0.4em 0.2em;
  padding: 0px;
  border: solid 1px #fdb200;
}

.citem {
  background-color: #fdb20040;
  margin: 0px;
  padding: 1em;
  text-align: left;
  align-content: center;
}

.aitem {
  display: block;
  height: 8em;
  background-color: #fdb20040;
  margin: 0px;
  padding: 0em 1em 0em 1em;
  text-align: left;
  align-content: center;
  overflow: hidden;
}

#alarm {
  display: none;
}