body {
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, sans-serif;
  overflow-y: scroll;
  background: content-box radial-gradient(#000000, #200020);
}

header {
  display: block;
  height: 60px;
  background-color: #fdb20040;
  align-content: center;
}

.logo {
  display: block;
  height: 60px;
  background-color: #fdb200;
  margin: auto;
}

nav {
  background-color: #fdb20040;
}

footer {
  display: block;
  background-color: #fdb20040;
  text-align: center;
  align-content: center;
  padding: 0.2em;
}

.fo {
  display: inline-block;
  width: 40%;
  padding: 0.2em;
  text-align: center;
  align-content: center;
}

.afo {
  display: block;
  height: 1.5em;
  text-align: center;
  align-content: center;
}

@media (max-width: 949px) {
  nav {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .menu {
    width: 10em;
    display: inline-block;
    padding: 0.2em 0.2em 0.2em 0em;
  }
  .hpad {
    display: none;
  }
}

@media (min-width: 950px) {
  .main, .logo  {
    width: 85%;
  }
  .menu {
    padding: 0em 0.2em 0.4em 0.2em;
  }
  nav {
    width: 30%;
    float: left;
    height: 100%;
  }
  .left {
    float: left;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .main, .logo {
    width: 70%;
  }
}

.main {
  text-align: left;
  margin: auto;
  align-content: start;
  background: #fdb20040;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover, .alarmbutton:hover {
  color: #000000;
  background-color: #ffffff40;
}

a:focus, .alarmbutton:focus {
  color: #000000;
  background-color: #ffffffd0;
}

a:active, .alarmbutton:active {
  color: #000000;
  background-color: #ffffff90;
}

.alarmbutton {
  background-color: #fdb20040;
  border: outset 2px #fdb200;
  text-align: center;
  align-content: center;
  padding: 0.5em;
  margin: 0.5em;
}

.amenu {
  display: block;
  background-color: #fdb20040;
  border: solid 1px #fdb200;
  text-align: inherit;
  align-content: center;
  padding: 0.5em;
  overflow: hidden;
}

.menu {
  margin: 0px;
  overflow: hidden;
  font-size: 1.17em;
  white-space: nowrap;
}

.lpad {
  margin: 0px;
  padding: 0em 1em 0em 1em;
}

.hpad, .cpad {
  margin: 0px;
  padding: 1em;
}

.thumb {
  width: 10em;
  height: 10em;
  float: left;
  text-align: center;
  align-content: center;
}

.desc {
  width: 32em;
  max-width: 100%;
  text-align: center;
  align-content: center;
}

.center {
  padding: 1em;
  text-align: center;
  align-content: center;
}

.item {
  margin: 0em 0.2em 0.4em 0.2em;
  padding: 0px;
  border: solid 1px #fdb200;
}

.citem {
  background-color: #fdb20040;
  margin: 0px;
  padding: 1em;
  text-align: left;
  align-content: center;
}

.aitem {
  display: block;
  height: 10em;
  background-color: #fdb20040;
  margin: 0px;
  padding: 0em 1em 0em 1em;
  text-align: left;
  align-content: center;
  overflow: hidden;
}

#alarm {
  display: none;
}