[Unit]
Description=my_simple_site
After=multi-user.target
 
[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/www/wratixor.ru/my_simple_site
ExecStart=/var/www/wratixor.ru/my_simple_site/.venv/bin/python3 /var/www/wratixor.ru/my_simple_site/aiohttp_run.py
 
[Install]
WantedBy=multi-user.target
